[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
Flask = "*"
click = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
Pyrebase = "*"
Flask-Login = "*"


[requires]

python_version = "3.6"
