.mdl-layout__content {
	height: calc(100vh);
}

.project-card {
	height:140px;
    width: 450px;
}

.project-overview {
    height:300px;
    margin-top: 100px;
}

.content-header {
    font-size: 30px;
    color: #757575 !important
}

.content-header hr {
    float:right;
    margin: 11px 0px 0px 0px;
    width: 100%;
}

.content-goals {
    margin:15px;
}

.goal-circle {
    color: white;
    background: #757575;
    font-weight: bold;
    font-size: 20px !important;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.goal-circle-text {
    margin-top:5%;
    text-align: center;
}

.goal-action {
    width: 104px;
    float: left;
    height: 50%;
    margin-top:9px;
}

.goal-action button {
    margin-top: 10px;
	height:50%;
	line-height:inherit;
    width:100%;
}

.goal-card {
    height: 166px;
}

.goal-card-description {
    float:right;
	width: calc(100% - 120px);

}

.goal-history {
    float:right;
}

.project-circle {
    border-radius: 50%;
    color: white;
    background: #757575;
    font-weight: bold;
    font-size: 50px !important;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    float: left;
}

.project-add-circle {
	background-color: #5cb85c !important;
}

.project-circle-text {
    margin-top:40%;
}

.project-card-description {
	width: calc(100% - 116px);
}

.project-card:hover {
	background-color: #e8eced !important;
	cursor: pointer
}

.project-card-header {
    font-size: 20px;
}

.project-card-header > hr {
	margin: 4px 0px 0px 0px;
}

.analytics-button {
    width:100%;
}

.modal-form .mdl-textfield {
    width:100%;
}

.full-width {
    width:100%;
}

/*login page*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}