{% extends 'dashboard.html' %}

{% block page_name %}
	{{page_name}}
{% endblock page_name %}

{% block scripts %}
<script>
$(document).on('click', '.project-card', function() {
	window.location.replace('/projects/' + $(this).attr('data-name'));
	console.log($(this).attr('data-name'));
});
</script>
{% endblock scripts %}

{% block content %}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="Personal Journal of Short Stories">
	<div class="project-circle">
		<div class="project-circle-text">
			P
		</div>
	</div>

	<div class="mdl-cell project-card-description" >
		<div class="mdl-cell mdl-cell--12-col project-card-header">
			Personal Journal of Short Stories
			<hr>
		</div>
		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-cell--12-col">
				<b>Current Goal: </b>Complete Under and Above short story
			</div>
			<div class="mdl-cell--12-col">
				<b>Last Updated: </b> Nov. 5 at 4:14pm
			</div>
		</div>
		 
	</div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="AE Research">
	<div class="project-circle">
		<div class="project-circle-text">
			A
		</div>
	</div>

	<div class="mdl-cell project-card-description">
		<div class="mdl-cell mdl-cell--12-col project-card-header">
			AE Research
			<hr>
		</div>
		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-cell--12-col">
				<b>Current Goal: </b>Complete executive summary v. 1.1
			</div>
			<div class="mdl-cell--12-col">
				<b>Last Updated: </b> Nov. 4 at 8:19pm
			</div>
		</div>
		 
	</div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card">
	<div class="project-circle project-add-circle">
		<div class="project-circle-text">
			+
		</div>
	</div>
	<div class="mdl-cell project-card-description">
		<div class="mdl-cell mdl-cell--10-col project-card-header">
	    	Add Project
			<hr>
		</div>	
	</div>

</div>
{% endblock content %}