{% extends 'dashboard.html' %}

{% block page_name %}
{{page_name}}
{% endblock page_name %}

{% block scripts %}
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

<script>

		{% for p in projects %}
		    createCards('{{p.name}}', '{{p.current_goal_id}}', '{{p.creation_date}}')
		{% endfor %}

		function createCards(name, current_goal_id, creation_date) {
			document.getElementById("projectList").innerHTML += (
				'<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name=' + name + '> \
					<div class="project-circle"> \
						<div class="project-circle-text"> ' +
							name.substring(0,1) +
						'</div> \
					</div> \
					<div class="mdl-cell project-card-description" > \
						<div class="mdl-cell mdl-cell--12-col project-card-header">' +
							name +
							'<hr> \
						</div> \
						<div class="mdl-cell mdl-cell--12-col"> \
							<div class="mdl-cell--12-col"> \
								<b>Current Goal: </b>' + current_goal_id +
							'</div> \
							<div class="mdl-cell--12-col"> \
								<b>Last Updated: </b>' + creation_date +
							'</div> \
						</div> \
					</div> \
				</div>'
			);
		}

</script>

<script>

    var FIREBASE_CREDENTIALS = {
        'apiKey': "AIzaSyDpcs6rtT7S0e0W8u5tYrhHZWvaW7P_gUE",
        'authDomain': "writers-bloc.firebaseapp.com",
        'databaseURL': "https://writers-bloc.firebaseio.com",
        'projectId': "writers-bloc",
        'storageBucket': "writers-bloc.appspot.com",
        'messagingSenderId': "59932670136",
        'serviceAccount': 'app/writers-bloc-firebase-adminsdk-0pw3s-3084128171.json'
    }
    // firebase = firebase.initializeApp(FIREBASE_CREDENTIALS)
		
    $(document).on('click', '.project-card:not(".add-project-card")', function() {
        window.location.replace('/projects/' + $(this).attr('data-name'));
        console.log($(this).attr('data-name'));
    });
    var addProjectForm = `
        <form action="#" class="modal-form">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="textarea" id="project" />
                <label class="mdl-textfield__label" for="project">Project</label>
            </div>
        </form>`;
    var newProjectFormat = `
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="{0}">
            <div class="project-circle">
                <div class="project-circle-text">
                      {1}
                </div>
            </div>
            <div class="mdl-cell project-card-description" >
                <div class="mdl-cell mdl-cell--12-col project-card-header">
                    {2}
                    <hr>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-cell--12-col">
                        <b>Current Goal: </b>None
                    </div>
                    <div class="mdl-cell--12-col">
                        <b>Last Updated: </b> {3}
                    </div>
                </div>
            </div>
        </div>`;
    $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
      if(e.which == 13) {
        e.defaultPrevented();
        return false;
      }
    });
    $('.add-project-card').click(function() {
        showDialog({
			text: addProjectForm,
			negative: {
				title: 'Cancel'
			},
			positive: {
				title: 'Add Project',
				onClick: function (e) {
					var project = $("#project").val();
					if (project) {
						var currentTime = moment();
						var newProjectHtml =  newProjectFormat.format(
								project,
								project.substring(0, 1),
								project,
								currentTime.calendar());
						$('.project-list>div:eq(0)').after(newProjectHtml);
						//element.insertAdjacentHTML('beforeend', newGoalHtml)
						$.ajax({
							url: '/new_project',
							data: {'project_name': project},
							type: 'POST',
							success: function(response){
								console.log(response);
							},
							error: function(error){
								console.log(error);
							}
						});
					} else {
						alert("Invalid project.");
					}
				}
			}
        });
    });
</script>


{% endblock scripts %}

{% block content %}

<form method="POST">
	<div class='mdl-grid project-list' id="projectList">
		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card add-project-card">
			<div class="project-circle project-add-circle">
				<div class="project-circle-text">
					+
				</div>
			</div>
			<div class="mdl-cell project-card-description">
				<div class="mdl-cell mdl-cell--10-col project-card-header">
					Add Project
					<hr>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}
