{% extends 'dashboard.html' %}

{% block page_name %}
    {{page_name}}
{% endblock page_name %}

{% block scripts %}
<script>

    var FIREBASE_CREDENTIALS = {
        'apiKey': "AIzaSyDpcs6rtT7S0e0W8u5tYrhHZWvaW7P_gUE",
        'authDomain': "writers-bloc.firebaseapp.com",
        'databaseURL': "https://writers-bloc.firebaseio.com",
        'projectId': "writers-bloc",
        'storageBucket': "writers-bloc.appspot.com",
        'messagingSenderId': "59932670136",
        'serviceAccount': 'app/writers-bloc-firebase-adminsdk-0pw3s-3084128171.json'
    }
    // firebase = firebase.initializeApp(FIREBASE_CREDENTIALS)
		
    $(document).on('click', '.project-card:not(".add-project-card")', function() {
        window.location.replace('/projects/' + $(this).attr('data-name'));
        console.log($(this).attr('data-name'));
    });

    var addProjectForm = `
        <form action="#" class="modal-form">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="textarea" id="project" />
                <label class="mdl-textfield__label" for="project">Project</label>
            </div>
        </form>`;

    var newProjectFormat = `
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="{0}">
            <div class="project-circle">
                <div class="project-circle-text">
                      {1}
                </div>
            </div>

            <div class="mdl-cell project-card-description" >
                <div class="mdl-cell mdl-cell--12-col project-card-header">
                    {2}
                    <hr>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-cell--12-col">
                        <b>Current Goal: </b>None
                    </div>
                    <div class="mdl-cell--12-col">
                        <b>Last Updated: </b> {3}
                    </div>
                </div>

            </div>
        </div>`;

    $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
      if(e.which == 13) {
        e.preventDefault();
        return false;
      }
    });
    $('.add-project-card').click(function() {
        showDialog({
                text: addProjectForm,
                negative: {
                    title: 'Cancel'
                },
                positive: {
                    title: 'Add Project',
                    onClick: function (e) {
                        var project = $("#project").val();
                        if (project) {
                            var currentTime = moment();
                            var newProjectHtml =  newProjectFormat.format(
                                    project,
                                    project.substring(0, 1),
                                    project,
                                    currentTime.calendar());
                            $('.project-list>div:eq(0)').after(newProjectHtml);
                            //element.insertAdjacentHTML('beforeend', newGoalHtml)
                            $.ajax({
                                url: '/new_project',
                                data: {'project_name': project},
                                type: 'POST',
                                success: function(response){
                                    console.log(response);
                                },
                                error: function(error){
                                    console.log(error);
                                }
                            });
                        } else {
                            alert("Invalid project.");
                        }
                    }
                }
        });
    });

    console.log(document.getElementById('outergrid'));

    // $.ajax({
    //     url: 'http://writers-bloc.firebaseio.com/users',
    //     type: 'GET',
    //     success: function(response){
    //         console.log(response);
    //     },
    //     error: function(error){
    //         console.log(error);
    //     }
    // });


    // var ref = new Firebase(DataLocation);
    // ref.child('USERS').child(User_ID).on('value', function(snapshot) {
    //     console.log(snapshot.val());
    // });
            
    window.onload=function(){
        var hr = document.createElement("HR");
        var output = document.getElementById('output');
        output.setAttribute("class","mdl-grid project-list");

        // var newProject = document.createElement("div");
        // newProject.setAttribute("class", "mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card add-project-card");
        
        // var newProjectCircle = document.createElement("div");
        // newProjectCircle.setAttribute("class", "project-circle project-add-circle");
        // var newProjectCircleText = document.createElement("div");
        // newProjectCircleText.setAttribute("class", "project-circle-text");
        // newProjectCircleText.innerHTML = '+';
        
        // newProjectCircle.appendChild(newProjectCircleText);


        // var newProjectDescription = document.createElement("div");
        // newProjectDescription.setAttribute("class", "mdl-cell project-card-description");
        
        // var newProjectDescriptionText = document.createElement("div");
        // newProjectDescriptionText.setAttribute("class", "mdl-cell mdl-cell--10-col project-card-header");
        // newProjectDescriptionText.innerHTML = "Add Project";
        // newProjectDescriptionText.appendChild(hr);
        
        // newProjectDescription.appendChild(newProjectDescriptionText);

        // newProject.appendChild(newProjectCircle);
        // newProject.appendChild(newProjectDescription);
        
        // output.appendChild(newProject);
        var i=1;
        var val="";
        while(i<=3)
        {
    
            if(!document.getElementById('timedrpact'+i))
            {
                var hr = document.createElement("HR");

                var ele = document.createElement("div");
                ele.setAttribute("id","timedrpact"+i);
                ele.setAttribute("class","mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card");
                ele.setAttribute("data-name", "hi "+i);

                var circleDiv = document.createElement("div");
                circleDiv.setAttribute("class","project-circle")

                var circleTextDiv = document.createElement("div");
                circleTextDiv.setAttribute("class","project-circle-text")
                circleTextDiv.innerHTML='H';
                circleDiv.appendChild(circleTextDiv);

                var headerDiv = document.createElement("div");
                headerDiv.setAttribute("class","mdl-cell mdl-cell--12-col project-card-header");
                headerDiv.innerHTML="hi "+i;
                headerDiv.appendChild(hr);

                var descDiv = document.createElement("div");
                descDiv.setAttribute("class","mdl-cell project-card-description");
                descDiv.appendChild(headerDiv);

                var bottomDiv = document.createElement("div");
                bottomDiv.setAttribute("class","mdl-cell mdl-cell--12-col");

                var goalDiv = document.createElement("div");
                goalDiv.setAttribute("class","mdl-cell--12-col");
                goalDiv.innerHTML="<b>Current Goal: </b>Complete Under and Above short story";

                var updatedDiv = document.createElement("div");
                updatedDiv.setAttribute("class","mdl-cell--12-col");
                updatedDiv.innerHTML="<b>Last Updated: </b> Nov. 5 at 4:14pm";

                bottomDiv.appendChild(goalDiv);
                bottomDiv.appendChild(updatedDiv);
                descDiv.appendChild(bottomDiv)

                ele.appendChild(circleDiv);
                ele.appendChild(descDiv);
                output.appendChild(ele);
                
            }
            i++;
    
    
        }
    };

    db = {firebase}

    console.log('db',db.firebase);

</script>
{% endblock scripts %}

{% block content %}
    
    <form method="POST">
        <div id="outergrid" class='mdl-grid project-list'>
            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card add-project-card">
                <div class="project-circle project-add-circle">
                    <div class="project-circle-text">
                        +
                    </div>
                </div>
                <div class="mdl-cell project-card-description">
                    <div class="mdl-cell mdl-cell--10-col project-card-header">
                        Add Project
                        <hr>
                    </div>
                </div>
            </div>
            <div id="output" class="out">

            </div>
            <!-- <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="Personal Journal of Short Stories">
                <div class="project-circle">
                    <div class="project-circle-text">
                        P
                    </div>
                </div>

                <div class="mdl-cell project-card-description" >
                    <div class="mdl-cell mdl-cell--12-col project-card-header">
                        Personal Journal of Short Stories
                        <hr>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-cell--12-col">
                            <b>Current Goal: </b>Complete Under and Above short story
                        </div>
                        <div class="mdl-cell--12-col">
                            <b>Last Updated: </b> Nov. 5 at 4:14pm
                        </div>
                    </div>

                </div>
            </div>

            <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid mdl-grid mdl-cell--6-col project-card" data-name="AE Research">
                <div class="project-circle">
                    <div class="project-circle-text">
                        A
                    </div>
                </div>

                <div class="mdl-cell project-card-description">
                    <div class="mdl-cell mdl-cell--12-col project-card-header">
                        AE Research
                        <hr>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-cell--12-col">
                            <b>Current Goal: </b>Complete executive summary v. 1.1
                        </div>
                        <div class="mdl-cell--12-col">
                            <b>Last Updated: </b> Nov. 4 at 8:19pm
                        </div>
                    </div>

                </div>
            </div> -->

        </div>
    </form>
{% endblock content %}