<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Writer's Bloc Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

<script>
      $('.message a').click(function() {
          $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
  </script>

<div class="login-page">
    <img src='/static/images/logo.png' style="margin-top:4em; margin-bottom:4em;">
    <div class="form">
        <form class="login-form" method="POST">
            <input type="text" placeholder="email" name="email"/>
            <input type="password" placeholder="password" name="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
</div>

</body>
</html>