{% extends 'dashboard.html' %}

{% block page_name %}
{{page_name}}
{% endblock page_name %}

{% block scripts %}

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

<script>
		addOverview('{{project.creation_date}}', '{{project.words}}')
		{% for goal in project.goals %}
			if (goal != null) {
                if('{{project.goals[goal]['completed']}}' === 'True') {
                    addCompletedGoals('{{project.goals[goal]['name']}}')
                } else {
                    addGoalsInProgress('{{project.goals[goal]['name']}}')
                }
            }
		{% endfor %}
		function addOverview(date, words) {
			document.getElementById("overview").innerHTML += (
				'<div class="mdl-grid mdl-grid mdl-cell--12-col content-header"> \
					<div class="material-icons">assignment</div> Project Overview \
					<hr> \
				</div> \
				<ul class="demo-list-item mdl-list"> \
					<li class="mdl-list__item"> \
					<span class="mdl-list__item-primary-content"> \
					  <b>Creation Date: </b>' + date.substring(0, 10) +
					'</span> \
					</li> \
					<li class="mdl-list__item"> \
					<span class="mdl-list__item-primary-content"> \
					  <b>Number of Contributions: </b>' + 'put contributions here' +
					'</span> \
					</li> \
					<li class="mdl-list__item"> \
					<span class="mdl-list__item-primary-content"> \
					  <b>Total Words Added: </b>' + words +
					'</span> \
					</li> \
				</ul> \
				<div class="mdl-grid mdl-grid mdl-cell--12-col"> \
					<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored analytics-button" href="/analytics"> \
						<div class="material-icons">show_chart</div> View Analytics \
					</a> \
				</div>'
			);
		}
		function addGoalsInProgress(name) {
			document.getElementById("in-progress-goals").innerHTML += (
				'<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-grid mdl-cell--12-col goal-card"> \
					<div class="goal-action"> \
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored add-work-button"> \
							Add work \
						</button> \
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect complete-goal-button"> \
							Complete \
						</button> \
					</div> \
					<div class="mdl-cell goal-card-description"> \
						<div class="mdl-cell mdl-cell--12-col goal-card-header">'
							+ name +
							'<hr> \
						</div> \
						<button class="mdl-button mdl-js-button mdl-button--primary goal-history" data-upgraded=",MaterialButton"> \
							Contribution History \
						</button> \
					</div> \
				</div>'
			);
		}
		function addCompletedGoals(name) {
			document.getElementById("completed-goals").innerHTML += (
				'<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-grid mdl-cell--12-col goal-card"> \
					<div class="goal-action"> \
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored revert-button"> \
							Revert \
						</button> \
					</div> \
					<div class="mdl-cell goal-card-description"> \
						<div class="mdl-cell mdl-cell--12-col goal-card-header">'
							+ name +
							'<hr> \
						</div> \
						<button class="mdl-button mdl-js-button mdl-button--primary goal-history" data-upgraded=",MaterialButton"> \
							Contribution History \
						</button> \
					</div> \
				</div>'
			);
		}
		$(document).on('keyup keypress', 'form input[type="text"]', function(e) {
		  if(e.which == 13) {
		    e.preventDefault();
		    return false;
		  }
		});
		var addGoalForm = `
			<form action="#" class="modal-form">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="textarea" id="goal" />
					<label class="mdl-textfield__label" for="goal">Goal</label>
				</div>
			</form>
		`;
		var addWorkForm = `
			<form action="#" class="modal-form">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<select class="mdl-textfield__input" id="typeWork" name="typeWork">
					<option></option>
					<option value="words">Words</option>
					<option value="paragraphs">Paragraphs</option>
					<option value="pages">Pages</option>
					</select>
					<label class="mdl-textfield__label" for="typeWork">Type of Work</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="number" id="number" />
					<label class="mdl-textfield__label" for="number">Number Written</label>
				</div>
			</form>
		`;
		var workHistory = `
			<ul class="demo-list-control mdl-list">
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      <i class="material-icons  mdl-list__item-avatar">access_time</i>
			      <div class="full-width">
      			      <b>Nov 4 4:14pm</b>
			      </div>
			      <div class="full-width">
			      		230 words
	      		  </div>
			    </span>
				<button id="workHistoryItem1"
				        class="mdl-button mdl-js-button mdl-button--icon">
				  <i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				    for="workHistoryItem1">
				  <li class="mdl-menu__item mdl-color-text--red">Delete</li>
				</ul>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      <i class="material-icons  mdl-list__item-avatar">access_time</i>
			      <div class="full-width">
      			      <b>Nov 4 12:21pm</b>
			      </div>
			      <div class="full-width">
			      		220 words
	      		  </div>
			    </span>
				<button id="workHistoryItem2"
				        class="mdl-button mdl-js-button mdl-button--icon">
				  <i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				    for="workHistoryItem2">
				  <li class="mdl-menu__item mdl-color-text--red">Delete</li>
				</ul>
			  </li>
			</ul>
		`;
		var completedGoalButton = `
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored revert-button">
	  			Revert
			</button>
		`;
		var inProgressButtons = `
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored add-work-button">
	  			Add work
			</button>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect complete-goal-button">
	  			Complete
			</button>
		`;
		var newGoalFormat = `
			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-grid mdl-cell--12-col goal-card" data-name="{0}" data-total=0 data-updated="{1}">
				<div class="goal-action">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored add-work-button">
			  			Add work
					</button>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect complete-goal-button">
			  			Complete
					</button>
				</div>
				<div class="mdl-cell goal-card-description">
					<div class="mdl-cell mdl-cell--12-col goal-card-header">
						{2}
						<hr>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<div class="mdl-cell--12-col">
							<b>Words Added: </b><div class='total-words'>0 words</div>
						</div>
						<div class="mdl-cell--12-col">
							<b>Last Updated: </b><div class='last-updated'>{3}</div>
						</div>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--primary goal-history" data-upgraded=",MaterialButton">
		  				Contribution History
					</button>
				</div>
			</div>
		`;
		$('#add-goal-button').click(function() {
			showDialog({
		        text: addGoalForm,
		        negative: {
		            title: 'Cancel'
		        },
		        positive: {
	            	title: 'Add Goal',
	            	onClick: function (e) {
						var goal = $("#goal").val();
                        var project_id = '{{ project.id }}';
						console.log(goal);
	            		if (goal) {
	            			var currentTime = moment();
	            			var newGoalHtml =  newGoalFormat.format(
									goal,
									currentTime.format('MMMM Do YYYY, h:mm:ss a'),
									goal,
									currentTime.calendar());
	            			var element = document.getElementsByClassName('in-progress-goals')[0]
							console.log('goal created');
							// console.log(document.getElementsByClassName("mdl-layout-title").item(0).innerText)
	            			$('.in-progress-goals').prepend(newGoalHtml);
	            			//element.insertAdjacentHTML('beforeend', newGoalHtml)
							console.log(project_id);

							$.ajax({
                                data: {'project': project_id,'goal_name': goal},
                                url: '/new_goal',
                                type: 'POST',

                                success: function(response){
                                    console.log();
                                },
                                error: function(error){
                                    console.log(error);
                                }
                            });
	            		} else {
	            			alert("Invalid goal.");
	            		}
	            	}
	            }
	        });
		});
        $(document).on('click', '.add-work-button', function() {
			var card = $(this).closest('.goal-card');
			showDialog({
		        text: addWorkForm,
		        negative: {
		            title: 'Cancel'
		        },
		        positive: {
	            	title: 'Add Work',
	            	  onClick: function (e) {
	            	  	var workCount = $('#number').val();
	            	  	if (workCount) {
	            	  		var currentTime = moment();
    	  					card.attr('data-updated', currentTime.format('MMMM Do YYYY, h:mm:ss a'));
    	  					card.attr('data-total', parseInt(card.attr('data-total')) + parseInt(workCount));
    	  					card.find('.total-words').text('{0} words'.format(card.attr('data-total')));
    	  					card.find('.last-updated').text(currentTime.calendar());
	            	  	} else {
	            	  		alert("Invalid number.");
	            	  	}
	            	}
	            }
	        });
		});
        $(document).on('click', '.goal-history', function() {
			showDialog({
				title: 'Goal Progress History',
		        text: workHistory,
		        positive: {
	            	title: 'OK',
	            }
	        });
		});
		$(document).on('click', '.complete-goal-button', function() {
			var card = $(this).closest('.goal-card');
			var goal = card[0].dataset.name;
			console.log('card',card);
			console.log('name',goal);
			$.ajax({
				url: '/complete_goal',
				data: {'project_name': document.getElementsByClassName("mdl-layout-title").item(0).innerText, 'goal_name': goal},
				type: 'POST',

				success: function(response){
					console.log();
				},
				error: function(error){
					console.log(error);
				}
			});
			card.prependTo('.completed-goals');
			// Clears the buttons sections and updates it with the revert button
			var buttonSection = card.find('.goal-action');
			buttonSection.empty()
			buttonSection.html(completedGoalButton)
		});
		$(document).on('click', '.revert-button', function() {
			var card = $(this).closest('.goal-card');
			card.prependTo('.in-progress-goals');
			var goal = card[0].dataset.name;
			console.log('card',card);
			console.log('name',goal);
			$.ajax({
				url: '/revert_goal',
				data: {'project_name': document.getElementsByClassName("mdl-layout-title").item(0).innerText, 'goal_name': goal},
				type: 'POST',

				success: function(response){
					console.log();
				},
				error: function(error){
					console.log(error);
				}
			});
			// Clears the buttons sections and updates it with the add work/complete buttons
			var buttonSection = card.find('.goal-action');
			buttonSection.empty()
			buttonSection.html(inProgressButtons)
		});
		function addGoalForm() {
			alert("FOOBAR");
			return true;
		}
	</script>
{% endblock scripts %}

{% block content %}
<div class="mdl-cell--8-col content-goals">
	<div class="mdl-mdl-cell--12-col content-header">
		Goals in progress
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored" id="add-goal-button">
			<i class="material-icons">add</i>
		</button>
		<hr>
	</div>
	<div class="in-progress-goals" id="in-progress-goals">

	</div>

	<div class="mdl-grid mdl-grid mdl-cell--12-col content-header">
		Completed Goals
		<hr>
	</div>
	<div class="completed-goals" id="completed-goals">

	</div>
</div>

<div class="mdl-color--grey-200 mdl-shadow--8dp mdl-cell--4-col project-overview">
	<div class="mdl-grid" id="overview">
	</div>
</div>
{% endblock content %}